@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Rubik:wght@400;700&display=swap');

button {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 35px;
}

.rounded-30 {
    border-radius: 30px;
}

.navbar {
    background-color: #011627;
    /* border: 2px orange solid; */
}

.selection-color {
    background-color: #FF3366;
}

.light-red-color {
    background-color: #FF7094;
}

.teal-color {
    background-color: #2EC4B6;
}

.grey-color {
    background-color: #9F9F9F;
}

.container{
    /* background-color: blue; */
    font-family: 'Rubik', sans-serif;
}

.info-button {
    width: 200px;
}

h1 {
    font-size: 38px;
    font-weight: 600;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
    font-style: italic;
}

h6 {
    font-size: 20px;
}

.info-row {
    display: flex;
    justify-content: space-between;
}

.divider {
    width: auto;
    height: 2px;
    background-color: #9F9F9F;
}

.text-align-center {
    text-align: center;
}