@import "search.css";

#search-title-bubble {
    background-color: #FFDC96;
}

#search-button button{
    background-color: #FFDC96;
}

.scholarship-card{
    margin: 1em 0em 1em 0em;
    background-color: #FFDC96;
}

.scholarship-card h5{
    font-weight: 800;    
}

.scholarship-card h7{
    font-size: 14px;
}