{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="../static/css/bursary-search.css">
{% endblock %}

{% block content %}

<div class="row top-buffer" id="search-title-row">
    <div class="col-md-auto mx-auto py-3 px-5 rounded-30" id="search-title-bubble">
        <h1>Bursary Search</h1>
    </div>
</div>

<!-- FORM -->
<form action="{{ url_for('search_bursary_results') }}" method="post">
    <!--Search by keyword-->
    <div class="form-group">
        <div class="row top-buffer" id="search-by-row">
            <!-- <div class="col-md-auto">
                            <h4>Search By</h4>
                        </div> -->
            <div class="col-3">
                <select name="search_by" class="form-select" aria-label="Default select example">
                    <option value="Category" selected>Category</option>
                    <option value="name">Name</option>
                    <option value="institution">Institution</option>
                    <option value="area_of_study">Field of Study</option>
                </select>
            </div>
            <div class="col-8">  
                <input name="search_bursary_value" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">                  
            </div>
            <div class="col-1 d-flex justify-content-center">
                <button type="submit" class="search-button w-100"></button>
            </div>
        </div>
    </div>
</form>
    
<form action="{{ url_for('filter_bursary_results') }}" method="post">
    <div class="row top-buffer" id="seach-filter-title">
        <div class="col">
            <h2>Filter</h2>
        </div>
    </div>

    <div class="form-group cards-group">
        <div class="row top-buffer" id="search-filter-bar-1">
            <div class="col">
                <select name="institution-filter" class="form-select" aria-label="Default select example">
                    <option value="" selected>Institution</option>
                    {% for institution in institutions %}
                    <option value="{{institution}}">{{institution}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select name="area-of-study-filter" class="form-select" aria-label="Default select example">
                    <option value="" selected>Area of Study</option>
                    {% for aos in aoss %}
                    <option value="{{aos}}">{{aos}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row top-buffer" id="search-filer-bar-2">
            <div class="col">
                <select name="nationality-filter" class="form-select" aria-label="Default select example">
                    <option value="" selected>Nationality</option>
                    {% for nationality in nationalities %}
                    <option value="{{nationality}}">{{nationality}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select name="degree-type-filter" class="form-select" aria-label="Default select example">
                    <option value="" selected>Degree Type</option>
                    {% for degree_type in degree_types %}
                    <option value="{{degree_type}}">{{degree_type}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row justify-content-center top-buffer" id="buttons">
        <div class="col-md-auto">
            <button type="submit" class="btn btn-default">Search</button>
        </div>
        <div class="col-md-auto">
            <a href="/bursary" class="btn btn-default">Reset</a>
        </div>
    </div>
</form>

<div class="row" style="padding: 2.5em 5em 2.5em 5em">
    {% for row in rows %}
    <div class="col-md-4">
        <div class="card rounded-30">
            <div class="card-body h-100">
                <h5 class="card-title">{{row[0]}}</h5>
                <h7 class="card-subtitle">{{row[3]}}</h7><br>
                <span class="card-text">{{row[2]}}</span><br>
                <span class="card-text" style="padding-bottom: 5px;">{{row[4]}}</span><br><br>
                <div class="w-100 h-100 text-center">
                    <a href="/{{row[9]}}"><button class="btn more-info-btn rounded-30">More Info</button></a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}