<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/bursary-info.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="page__container">

        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" id="logo">BuildingTuition</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2">

                        <li class="nav-item mx-3 mx-xl-5">
                            <a class="nav-link" href="about">Scholarship Search</a>
                        </li>

                        <li class="nav-item mx-3 mx-xl-5">
                            <a class="nav-link" href="contact">Bursary Search</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container">
            <div class="row top-buffer">
                <div class="col-md-auto mx-auto py-3 px-5 rounded-30 selection-color text-align-center">
                    <h1>{% block name %}{% endblock %}</h1>
                </div>
            </div>

            <!-- SUMMARY INFO  -->
            <div class="row top-buffer info-row">
                <div class="col-md-auto">
                    <h5>Institution</h5>
                </div>
            </div>

            <div class="row info-row">
                <div class="col-md-auto">
                    <h4>{% block institution %}{% endblock %}</h4>
                </div>
            </div>

            <div class="row divider rounded-30 top-buffer bottom-buffer">

            </div>

            <div class="row top-buffer info-row">
                <div class="col-md-auto">
                    <h5>Field of Study</h5>
                </div>
            </div>

            <div class="row info-row">
                <div class="col-md-auto">
                    <h4>{% block FOS %}{% endblock %}</h4>
                </div>
            </div>
            <!-- SUMMARY INFO END -->

            <div class="row light-red-color rounded-30 mt-5 p-4">
                {% block description %}{% endblock %}
            </div>

            <div class="row my-5">
                <div class="col-md-auto mx-auto">

                    <button type="button" class="btn teal-color rounded-30 mx-4 info-button" data-bs-toggle="modal" data-bs-target="#textModal">
                        Notify Me by Text
                    </button>

                    <button type="button" class="btn teal-color rounded-30 mx-4 info-button" data-bs-toggle="modal" data-bs-target="#emailModal">
                        Notify Me by Email
                    </button>

                    <a role="button" class="button btn teal-color rounded-30 mx-4 info-button" target="_blank" href="https://google.com">
                        More Info
                    </a>

                    <!-- PHONE NUMBER MODAL -->
                    <div class="modal fade" id="textModal" tabindex="-1" aria-labelledby="textModal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h6>Be notified of updates and upcoming deadlines for this scholarship by entering you phone number below.</h6>

                                    <form action="" method="post" class="needs-validation">
                                        <input class="form-control mr-sm-2 top-buffer" type="tel" placeholder="Phone Number" aria-label="Phone Number">
                                        <!-- <input class="form-control mr-sm-2 top-buffer" type="email" placeholder="Email" aria-label="Email"> -->                                        
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default rounded-30 grey-color px-4 mx-2"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-default rounded-30 teal-color px-4 mx-2" data-bs-toggle="modal" data-bs-target="#submittedModal">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- EMAIL MODAL -->
                    <div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="emailModal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h6>Be notified of updates and upcoming deadlines for this scholarship by entering you email below.</h6>

                                    <form action="" method="post" class="needs-validation">
                                        <!-- <input class="form-control mr-sm-2 top-buffer" type="tel" placeholder="Phone Number" aria-label="Phone Number"> -->
                                        <input class="form-control mr-sm-2 top-buffer" type="email" placeholder="Email" aria-label="Email">                                        
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default rounded-30 grey-color px-4 mx-2"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-default rounded-30 teal-color px-4 mx-2" data-bs-toggle="modal" data-bs-target="#submittedModal">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SUBMITTED MODAL -->
                    <div class="modal fade" id="submittedModal" tabindex="-1" aria-labelledby="submittedModal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h6>Submitted!</h6>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default rounded-30 grey-color px-4 mx-2"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>

</html>